# Asian Carp
#### *Cyprinus carpio*
---

In [3]:
%load_ext autoreload
%autoreload 2

In [6]:
import sys

import numpy as np
import pandas as pd

import flbs_ais.nas as nas

#### Database Species Search Results
NOTE: Enter scientific name in the following code block

In [4]:
search_result = nas.species_search('Cyprinus', 'carpio')
search_string = nas.species_string(search_result)
print(search_string)

speciesID: 4
itis_tsn: 163344
group: Fishes
family: Cyprinidae
genus: Cyprinus
species: carpio
subspecies:
variety:
authority: Linnaeus, 1758
common_name: Common Carp
native_exotic: Exotic
Fresh/Marine/Brackish: Freshwater

---
## API Query Dataframe for Asian Carp  
There seems to be an error in the json file when retrieving more than 2,347 results.

In [33]:
api_key = ""
with open("../tmp/api_key.txt", 'r') as file:
    api_key = file.readline()
api_df = nas.getdf(4, keep_columns=None, limit=2347, api_key=api_key)
print(f"Results: {len(api_df)}")
api_df.head()

Results: 2347

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,26225,4,Fishes,Cyprinidae,Cyprinus,carpio,Cyprinus carpio,Common Carp,NaN,Alabama,...,1988,NaN,NaN,established,,Personal communication,,,Freshwater,[]
1,26265,4,Fishes,Cyprinidae,Cyprinus,carpio,Cyprinus carpio,Common Carp,NaN,Alabama,...,1968,NaN,NaN,established,,Literature,,,Freshwater,"[{'key': 78, 'refType': 'Book', 'year': 1968, ..."
2,26284,4,Fishes,Cyprinidae,Cyprinus,carpio,Cyprinus carpio,Common Carp,NaN,Alabama,...,1998,NaN,NaN,established,,Literature,,,Freshwater,"[{'key': 1885, 'refType': 'Conference Proceedi..."
3,26289,4,Fishes,Cyprinidae,Cyprinus,carpio,Cyprinus carpio,Common Carp,NaN,Alabama,...,1971,NaN,NaN,established,,Literature,,,Freshwater,"[{'key': 90, 'refType': 'Journal Article', 'ye..."
4,26296,4,Fishes,Cyprinidae,Cyprinus,carpio,Cyprinus carpio,Common Carp,NaN,Alabama,...,1998,NaN,NaN,established,,Literature,,,Freshwater,"[{'key': 1885, 'refType': 'Conference Proceedi..."

---
## Most Common References for API Query Dataframe

In [35]:
api_ref_count = nas.ref_counts(api_df)
print(nas.ref_string(api_ref_count, limit=5))

--------
Most common reference 1

Total Occurrences:  352
--------

--------
Most common reference 2

Source number:      1
Title:              Common Carp - Cyprinus carpio. Montana Field Guide.
Author:             Montana Natural Heritage Program and Montana Fish, Wildlife and Parks.
Publisher:          mtgov.
Publisher Location:
Year:               2009
Reference Type:     Database

Source number:      2
Title:              Natural Heritage Tracker - Common Carp (Cyprinus carpio).
Author:             Montana Natural Heritage Program.
Publisher:          mtgov.
Publisher Location:
Year:               2009
Reference Type:     Database

Total Occurrences:  201
--------

--------
Most common reference 3

Source number:      1
Title:              Illinois Natural History Survey Fish Collection Database Search Results.
Author:             Illinois Natural History Survey.
Publisher:          Illinois Natural History Survey.
Publisher Location:
Year:               2004
Reference Type:     Database

Total Occurrences:  171
--------

--------
Most common reference 4

Source number:      1
Title:              Fishes of Arkansas.
Author:             Robison, H.W., and T.M. Buchanan.
Publisher:          University of Arkansas Press
Publisher Location: Fayetteville, AR
Year:               1988
Reference Type:     Book

Total Occurrences:  129
--------

--------
Most common reference 5

Source number:      1
Title:              Fish Records: Water Body - All Tackle.
Author:             Texas Parks and Wildlife Department.
Publisher:          Texas Parks and Wildlife Department.
Publisher Location:
Year:               2001
Reference Type:     Web Page

Total Occurrences:  67
--------

---
## CSV File Dataframe for Asian Carp

In [15]:
csv_df = nas.process_csv_df("../tmp/NAS-Data-AsianCarp.csv")
print(f"Results: {len(csv_df)}")
csv_df.head()

Results: 46342

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,1565260,4,Fishes,Cyprinidae,NaN,NaN,Cyprinus carpio,Common Carp,Canada,ONT,...,2014,8.0,13.0,established,<a href = http://www.misin.msu.edu/browse/reco...,Literature,NaN,NaN,Freshwater,"[{'key': 27950, 'refType': 'Database', 'year':..."
1,1565261,4,Fishes,Cyprinidae,NaN,NaN,Cyprinus carpio,Common Carp,Canada,ONT,...,2014,8.0,13.0,established,<a href = http://www.misin.msu.edu/browse/reco...,Literature,NaN,NaN,Freshwater,"[{'key': 27950, 'refType': 'Database', 'year':..."
2,1566349,4,Fishes,Cyprinidae,NaN,NaN,Cyprinus carpio,Common Carp,Canada,ONT,...,2016,8.0,17.0,established,<a href = http://www.misin.msu.edu/browse/reco...,Literature,NaN,NaN,Freshwater,"[{'key': 27950, 'refType': 'Database', 'year':..."
3,1566524,4,Fishes,Cyprinidae,NaN,NaN,Cyprinus carpio,Common Carp,Canada,ONT,...,2016,8.0,29.0,established,<a href = http://www.misin.msu.edu/browse/reco...,Literature,NaN,NaN,Freshwater,"[{'key': 27950, 'refType': 'Database', 'year':..."
4,1570429,4,Fishes,Cyprinidae,NaN,NaN,Cyprinus carpio,Common Carp,Canada,ONT,...,2016,8.0,6.0,established,<a href = http://www.misin.msu.edu/browse/reco...,Literature,NaN,NaN,Freshwater,"[{'key': 27950, 'refType': 'Database', 'year':..."

---
## Most Common References for CSV File Dataframe
NOTE: Reference information for CSV files is not currently functional

In [ ]:
#csv_ref_count = nas.ref_counts(csv_df)
#print(nas.ref_string(csv_ref_count, limit=20))