# Monoecious Hydrilla
#### *Hydrilla verticillata [monoecious]*
---

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys

import numpy as np
import pandas as pd

import flbs_ais.nas as nas

#### Database Species Search Results

In [3]:
search_result = nas.species_search('Hydrilla', '')
search_string = nas.species_string(search_result)
print(search_string)

speciesID: 6
itis_tsn: 38974
group: Plants
family: Hydrocharitaceae
genus: Hydrilla
species: verticillata
subspecies:
variety:
authority: (L.f.) Royle
common_name: hydrilla
native_exotic: Exotic
Fresh/Marine/Brackish: Freshwater

speciesID: 2942
itis_tsn: 38974
group: Plants
family: Hydrocharitaceae
genus: Hydrilla
species: verticillata [dioecious]
subspecies:
variety:
authority: (L. f.) Royle
common_name: dioecious hydrilla
native_exotic: Exotic
Fresh/Marine/Brackish: Freshwater

speciesID: 2943
itis_tsn: 38974
group: Plants
family: Hydrocharitaceae
genus: Hydrilla
species: verticillata [monoecious]
subspecies:
variety:
authority: (L. f.) Royle
common_name: monoecious hydrilla
native_exotic: Exotic
Fresh/Marine/Brackish: Freshwater

---
## API Query Dataframe for Monoecious Hydrilla

In [4]:
api_key = ""
with open("../tmp/api_key.txt", 'r') as file:
    api_key = file.readline()
api_df = nas.getdf(2943, keep_columns=None, limit=-1, api_key=api_key)
print(f"Results: {len(api_df)}")
api_df.head()

Results: 672

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,213316,2943,Plants,Hydrocharitaceae,Hydrilla,verticillata [monoecious],Hydrilla verticillata [monoecious],monoecious hydrilla,NaN,Washington,...,1995,5,20,eradicated,Established until 2011,Literature,,herb/King Cty Sur Wa,Freshwater,"[{'key': 10194, 'refType': 'Journal Article', ..."
1,213681,2943,Plants,Hydrocharitaceae,Hydrilla,verticillata [monoecious],Hydrilla verticillata [monoecious],monoecious hydrilla,NaN,Virginia,...,1990,5,20,established,,Literature,,,Freshwater,"[{'key': 10100, 'refType': 'Other', 'year': 19..."
2,213682,2943,Plants,Hydrocharitaceae,Hydrilla,verticillata [monoecious],Hydrilla verticillata [monoecious],monoecious hydrilla,NaN,Maryland,...,1990,5,20,established,,Literature,,,Freshwater,"[{'key': 10100, 'refType': 'Other', 'year': 19..."
3,213683,2943,Plants,Hydrocharitaceae,Hydrilla,verticillata [monoecious],Hydrilla verticillata [monoecious],monoecious hydrilla,NaN,Virginia,...,1991,2,2,established,,Literature,,,Freshwater,"[{'key': 10100, 'refType': 'Other', 'year': 19..."
4,213684,2943,Plants,Hydrocharitaceae,Hydrilla,verticillata [monoecious],Hydrilla verticillata [monoecious],monoecious hydrilla,NaN,Virginia,...,1991,2,2,established,,Literature,,,Freshwater,"[{'key': 10100, 'refType': 'Other', 'year': 19..."

---
## Most Common References for API Query Dataframe

In [5]:
api_ref_count = nas.ref_counts(api_df)
print(nas.ref_string(api_ref_count, limit=5))

--------
Most common reference 1

Total Occurrences:  85
--------

--------
Most common reference 2

Source number:      1
Title:              Economical and Environmental Impacts of N.C. Aquatic Weed Infestations.
Author:             North Carolina Division of Water Resources.
Publisher:          North Carolina Department of Environment, Health, and Natural Resources.
Publisher Location: Raleigh, NC
Year:               1996
Reference Type:     Book

Total Occurrences:  60
--------

--------
Most common reference 3

Source number:      1
Title:              Calflora
Author:             West, R., J. Malpas, C. Powell, M. Tollett, D. Anderson, and E. Dorrington.
Publisher:
Publisher Location: Berkeley, CA
Year:               2019
Reference Type:     Database

Total Occurrences:  57
--------

--------
Most common reference 4

Source number:      1
Title:              Joint Aquatic Invasive Species Survey, 2010
Author:             Central Hardwoods Invasive Plant Network.
Publisher:          University of Georgia
Publisher Location: Athens, GA
Year:               2010
Reference Type:     Database

Total Occurrences:  34
--------

--------
Most common reference 5

Source number:      1
Title:              EDDMapS: Early detection and distribution mapping system
Author:             Center for Invasive Species and Ecosystem Health.
Publisher:          The University of Georgia
Publisher Location: Tifton, GA
Year:               2019
Reference Type:     Database

Total Occurrences:  29
--------

---
## CSV File Dataframe for Monoecious Hydrilla

In [6]:
csv_df = nas.process_csv_df("../tmp/NAS-Data-MonoeciousHydrilla.csv")
print(f"Results: {len(csv_df)}")
csv_df.head()

Results: 687

,specimennumber,speciesid,group,family,genus,species,scientificname,commonname,country,state,...,year,month,day,status,comments,recordtype,disposal,museumcatnumber,freshmarineintro,references
0,1401618,2943,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata [monoecious],monoecious hydrilla,United States of America,AL,...,2015,9.0,8.0,established,NaN,Specimen,UWAL,30274,Freshwater,"[{'key': 28852, 'refType': 'Database', 'year':..."
1,1467122,2943,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata [monoecious],monoecious hydrilla,United States of America,AL,...,2018,7.0,5.0,established,<a href=https://www.inaturalist.org/observatio...,Literature,NaN,14078242,Freshwater,"[{'key': 25944, 'refType': 'Database', 'year':..."
2,1401616,2943,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata [monoecious],monoecious hydrilla,United States of America,AL,...,2007,9.0,27.0,established,NaN,Specimen,TENN,14523,Freshwater,"[{'key': 28843, 'refType': 'Database', 'year':..."
3,1633965,2943,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata [monoecious],monoecious hydrilla,United States of America,AR,...,2005,8.0,3.0,established,Genotyped as monoecious by Dean Williams (Texa...,Specimen,UARK,48098,Freshwater,"[{'key': 29018, 'refType': 'Database', 'year':..."
4,1633966,2943,Plants,Hydrocharitaceae,NaN,NaN,Hydrilla verticillata [monoecious],monoecious hydrilla,United States of America,AR,...,2005,8.0,3.0,established,Genotyped as monoecious by Dean Williams (Texa...,Specimen,UARK,48099,Freshwater,"[{'key': 29018, 'refType': 'Database', 'year':..."

---
## Most Common References for CSV File Dataframe
NOTE: Reference information for CSV files is not currently functional

In [ ]:
#csv_ref_count = nas.ref_counts(csv_df)
#print(nas.ref_string(csv_ref_count, limit=20))